extends ../layout

block content
	.container
		.row
			each item in songs
				.col-md-2
					.thumbnail
						a(href="/song/#{item._id}")
							img(src="#{item.poster}",alt="#{item.title}")
					.caption
						h3 #{item.title}
						P: a.btn.btn-primary(href="/song/#{item._id}",role="button") 试听歌曲 
							a.btn.btn-primary(href="/song/remove/#{item._id}",role="button") 删除